.blog-post{
    padding-top: 40px;
    .title{
        font-size: 20px;
        font-weight: bold;
        margin: 0px;
        margin-bottom: 30px;
    }

    .button-action{
        width: 200px;
        margin-left: auto;
        margin-right: 0px;
    }

}
